* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.actor-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    padding: 1.5rem;
    justify-items: center;
    justify-content: center;
    gap: 2rem;
    .actor-card-container {
        background-color: aqua;
        width: 350px;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        align-items: center;
        text-decoration: none;
        color: inherit;

        ul {
            list-style: none;
        }

        figure {
            height: 400px;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.title-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 0.5rem;
    align-items: center;
}

nav {
    margin: 2rem;
    menu {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 2rem;
        font-size: 1.2rem;
        .menu-li {
            color: blue;
            text-decoration: none;
            &.active {
                color: red;
            }
        }
    }
}

.id-actor-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    figure {
        height: 500px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    .bio {
        width: 700px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
